<style>
  ion-content > div{
    height: inherit;
  }
  #map {
    height: inherit;
  }
</style>
<ion-view view-title="">
  <ion-content class='fullPage'>
    <div id="map" class='col col-100'></div>

    <div id='blipActionSheet'>
      <label class='item'>
        <textarea id='blipMessage' rows='3' maxlength='{{charLimit}}' ng-maxlength='charLimit' ng-trim='false' ng-model='message' ng-change='calcCharsLeft(message)' placeholder='Blip Message'></textarea>
      </label>
      <div id='characterCount' class='col col-10 col-offset-90'>
        {{charactersLeft}}
      </div>
      <div id='blipButtonRow' class='row'>
        <button class='blipActionButtons col col-33' style='color: green; border-right: 1px solid white' ng-click='sendBlip($event, message)'><i class='ion-ionic'></i></button>
        <button class='blipActionButtons col col-33' style='color: #46AFEF;' ng-click='tweetBlip($event, message)'><i class='ion-social-twitter'></i></button>
        <button id='cancelBlip' class='blipActionButtons col col-33' style='color: red; border-left: 1px solid white' ng-click='cancelBlip($event)'><i class='ion-ios-close-outline'></i></button>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class='footer' ng-if='!blipping'>
    <button id="btn-blip" ng-click='blip()'>blip</button>
  </ion-footer-bar>
</ion-view>
