<style>
  ion-content > div{
    height: inherit;
  }
  #map {
    height: inherit;
  }
</style>
<ion-view view-title="">
  <ion-content class='fullPage'>
    <div id="map" class='col col-100'></div>

    <div id='blipActionSheet' class='list'>
      <label class='item'>
        <textarea id='blipMessage' rows='3' ng-model='message' placeholder='Blip Message'></textarea>
      </label>
      <label class='item'>
        <button class='button button-block button-balanced' ng-click='sendBlip(message)'> blip it</button>
      </label>
      <label class='item'>
        <button class='button button-block' ng-click='tweetBlip()' style='background-color: #46AFEF'> blip & tweet</button>
      </label>
      <label class='item'>
        <button class='button button-block button-stable' ng-click='closeBlip()'> Cancel </button>
      </label>
    </div>

  </ion-content>

  <ion-footer-bar class='footer' ng-if='!blipping'>
    <button id="btn-blip" ng-click='blip()'>blip</button>
  </ion-footer-bar>
</ion-view>
