<style>
  .form-row {
    color: white;
    text-align: center;
    border: 2px solid black;
  }
  .form-row input {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
  }
  .noBottomBorder {
    border-bottom: none;
  }
  #paymentButton {
    margin-top: 3em;
  }
</style>
<ion-view view-title="Buy Sponsored Blips">
  <ion-content>

    <form action="" method="POST" ng-submit='stripePayment()' id="payment-form">
      <span class="payment-errors"></span>

      <div class="form-row">
        <label class='item item-input'>
          <input type="text" size="20" data-stripe="number" placeholder='Card Number'>
        </label>
      </div>

      <div class="form-row">
        <label class='item item-input'>
          <input type="text" size="4" data-stripe="cvc" placeholder='CVC'>
        </label>
      </div>

      <div class="form-row noBottomBorder">
        <label class='item item-input'>
          <input type="text" size="2" data-stripe="exp-month" placeholder='MM'/>
        </label>
        <label class='item item-input'>
          <input type="text" size="4" data-stripe="exp-year" placeholder='YYYY'/>
        </label>
      </div>

      <button id='paymentButton' type="submit" class='button button-positive col col-100'>Submit Payment</button>
    </form>

  </ion-content>
</ion-view>