
.fullPage {
	height: 100%;
}

.has-footer{
  padding-bottom:44px !important;
}

#btn-blip {
	color: #fff9ea;
	font-weight: bolder;
	background: #7fbb00;
	border: none;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: -85px auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,.7);
}

.footer {
	height: 0;
  background: rgba(20, 95, 215,0.0);
}

#logo {
	text-align: center;
	top: 35vh;
	font-size: 4em;
	height: 80px;
}

.map-canvas {
	height: 100%;
}

.center {
  text-align: center;
}

.loginButtons {
  position: absolute;
}

.loginButton {
  margin-top: 2em;
}

.button-twitter {
	background: #55acee;
	color: white;
	border-color: #2a91bd;
}

.button-facebook {
	background: #3b5998;
	color: white;
	border-color: #223f71;
}

.right {
	position: absolute;
	right: 0;
}

#searchBox {
	display: inline;
	padding-left: 1em;
	background: transparent;
}

#blipActionSheet {
	text-align: center;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	width: 100%;
	bottom: -30em;
	padding-bottom: 0;

	.item {
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;

		textarea {
			width: 100%;
			background-color: transparent;
			padding: 20px;
			font-size: 1.1em;
			color: white;
		}
	}
}

#characterCount {
	color: gray;
}

#blipButtonRow {
	border-top: 1px solid white;
}

.blipActionButtons {
	font-size: 4em;
	background-color: transparent;
	border: none;
}

textarea {
	resize: none;
}

.leaflet-bottom.leaflet-right {
	z-index: 0;
}
