/* Empty. Add your own CSS if you like */
.angular-google-map {
	display: block;
}

#home .angular-google-map-container {
	height: 700px;
}

#sponsor .angular-google-map-container {
	height: 350px;
}

.fullPage {
	height: 100%;
}

.has-footer{
  padding-bottom:44px !important;
}

.btn-blip {
	color: #fff9ea;
	font-weight: bolder;
	background: #7fbb00;
	border: none;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: -85px auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,.7);
}

.footer {
	height: 0;
  background: rgba(20, 95, 215,0.0);
}

#logo {
	text-align: center;
	margin-top: 50%;
	font-size: 4em;
}

.center {
  text-align: center;
}

.loginButtons {
  position: absolute;
}

.loginButton {
  margin-top: 2em;
}

.button-twitter {
	background: #55acee;
	color: white;
	border-color: #2a91bd;
}

.button-facebook {
	background: #3b5998;
	color: white;
	border-color: #223f71:
}

.right {
	position: absolute;
	right: 0;
}

#searchBox {
	display: inline;
	padding-left: 1em;
	background: transparent;
}
