/* Empty. Add your own CSS if you like */
.angular-google-map {
	display: block;
}

.angular-google-map-container {
	height: 700px;
}

.fullPage {
	height: 100%;
}

.has-footer{
  padding-bottom:44px !important;
}

.btn-blip {
	color: #fff9ea;
	font-weight: bolder;
	background: #7fbb00;
	border: none;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin: -85px auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,.7);
}

.footer {
	height: 0;
  background: rgba(20, 95, 215,0.0);
}
